@if (Session["UserID"] != null)
{
    <div class="navbar-collapse collapse">





    </div>
}
else
{
    <center><h1>The Power of Giving</h1></center>
    <center><h2>Donate here today</h2></center>
    <center><h4>Login or Register to learn more.</h4></center>
}